details:not([open])>*:not(summary) {
    display: none !important;
}
details summary {
    cursor: pointer;
}
.markdown-body blockquote:before {
    display: inline-block;
    font: normal normal normal 24px/1 Material Design Icons,sans-serif;
    position: absolute;
    margin-top: -12px;
    top: 50%;
    left: -38px;
    color: hsla(0,0%,100%,.7);
}
.markdown-body blockquote {
    padding: 1rem;
    background-color: #eceff1;
    border-left: 55px solid #607d8b;
    border-radius: .5rem;
    margin: 1rem 0;
}

.markdown-body blockquote.is-info{
    background-color:#e3f2fd;
    border-color:#64b5f6;
    color:#0d47a1
}
.markdown-body blockquote.is-info:before{
    content:"󰋼"
}
.markdown-body blockquote.is-info code{
    background-color:#e3f2fd;
    color:#1565c0
}
.theme--dark .markdown-body blockquote.is-info{
    background-color:#0d47a1;
    color:#e3f2fd;
    border-color:#2196f3
}
.markdown-body blockquote.is-warning{
    background-color:#fff3e0;
    border-color:#ffb74d;
    color:#b33f00
}
.markdown-body blockquote.is-warning:before{
    content:"󰀦"
}
.markdown-body blockquote.is-warning code{
    background-color:#fff3e0;
    color:#ef6c00
}
.theme--dark .markdown-body blockquote.is-warning{
    background-color:#cd4800;
    color:#ffe0b2;
    border-color:#ff9800;
    box-shadow:0 0 2px 0 #212121
}
.markdown-body blockquote.is-danger{
    background-color:#ffebee;
    border-color:#e57373;
    color:#b71c1c
}
.markdown-body blockquote.is-danger:before{
    content:"󰅙"
}
.markdown-body blockquote.is-danger code{
    background-color:#ffebee;
    color:#c62828
}
.theme--dark .markdown-body blockquote.is-danger{
    background-color:#b71c1c;
    color:#ffcdd2;
    border-color:#f44336
}
.markdown-body blockquote.is-success{
    background-color:#e8f5e9;
    border-color:#81c784;
    color:#1b5e20
}
.markdown-body blockquote.is-success:before{
    content:"󰸞"
}
.markdown-body blockquote.is-success code{
    background-color:#e8f5e9;
    color:#2e7d32
}
.theme--dark .markdown-body blockquote.is-success{
    background-color:#1b5e20;
    color:#e8f5e9;
    border-color:#4caf50
}